<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924131185521-raprqdabc10fn6pl8ec4ujab81p47gal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924131185521-raprqdabc10fn6pl8ec4ujab81p47gal</string>
	<key>API_KEY</key>
	<string>AIzaSyAD1ZgOgeMW0wooyfp0XfrVAZYX7puTHAs</string>
	<key>GCM_SENDER_ID</key>
	<string>924131185521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.afarinick.cj.cocoamaster</string>
	<key>PROJECT_ID</key>
	<string>cocoa-master</string>
	<key>STORAGE_BUCKET</key>
	<string>cocoa-master.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924131185521:ios:737c89761ee395757a5cd0</string>
</dict>
</plist>